.cFWrapper{
    height:max-content;
    width:100%;
    /* border:1px solid orange; */
}
.cFContainer{
    display:flex;
    padding-top: 8px;
    padding-bottom: 8px;
}
.cFContainer button{
    
    margin-left: 20px;
    margin-right:20px;
    background-color: black;
    border-radius: 2px;
    color:white;
    margin-top: 20px;
}